

    header, main, footer {
      background: white url(../images/background.png) fixed no-repeat center center ;
      padding-left: 300px;
    }

    @media only screen and (max-width : 1080px) {
      header, main, footer {
        padding-left: 0;
      }
    }


.divider{
  background: #0DFF04;
}
.table-of-contents{
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    margin-top: -100px;
}

.collapsible{
  background;
}

.fixe{
  border: 10px solid #0DFF04;
  float: center;
  padding: 2.08%;
  }