
header, body, footer {
  padding-right: 82px;
}

@media only screen and (max-width : 1600px) {
  header, body, footer {
    padding-left: 264px;
  }
}

.interlignage{ 
      line-height:14px; 
}


.fixe{
  border: 5px solid #0DFF04;
  float: center;
  padding: 2.08%;
  }
  
.side-nav{
  width: 182px;
}

.facade{
  background: url('../images/fondation/facade_galerie.jpg') no-repeat;
  background-size: 678px
}   
.slider{
  margin-top: 50px;
}

.vert{
  background: #00FF7C;
}
.table-of-contents{
    margin-left: 15px;
    margin-top: -30px;
    margin-bottom: -30px;
}

@font-face {
font-family: 'bold-condensed';
src: url('../fonts/neuzeit-grotesk-lt-bold-condensed.otf');
src: url('../fonts/neuzeit-grotesk-lt-bold-condensed.ttf') format('truetype'),
     url('../fonts/neuzeit-grotesk-lt-bold-condensed.woff') format('woff'),
font-weight: normal;
font-style: normal;
}



span{
  font-family:bold-condensed;
  font-size: 14pt;
}

p
{
  font-family:bold-condensed;
  font-size: 15px;
}

h6
{
  font-family:bold-condensed;
  font-size: 30px;
}

h5
{
  font-family:bold-condensed;
  font-size: 20px;
}


h3
{
  font-family:bold-condensed;
  font-size: 30pt;
}


@font-face {
font-family: 'light';
src: url('../fonts/qneuzeit-grotesk-lt-light.otf');
src: url('../fonts/neuzeit-grotesk-lt-light.ttf') format('truetype'),
     url('../fonts/neuzeit-grotesk-lt-light.woff') format('woff'),
font-weight: normal;
font-style: normal;
}

h4
{
  font-family:light;
  font-size: 14px;
}